<body>
<h1>Josiah Olivo</h1>
<h2>Phone: 917-123-4567</h2>
<h2>Email: olivoj7@gmail.com</h2>
<p>
  College student studying web design. Capable of scripting in HTML, Python, and JavaScript.
</p>
<hr>
<h2>Work Experience</h2>
<h3>Lead Cashier (May 2019 - November 2019)</h3>
<h4>Bob's Supermarket - Queens Village, NY<h4>
<ul>
  <li>Highlight 1</li>
  <li>Highlight 2</li>
  <li>Highlight 3</li>
</ul>

<h3>Key Achievement: Extraordinary task done at said workplace</h3>
<hr>
<h2>Education</h2>
<h3>Queensborough Community College (August 2019 - Present)</h3>
<h4>Took classes in a high school dual enrollment program associated with this college, recieved college credits in 12th grade </h4>
<ul>
<h4>Extracurricular achievements:</h4>
  <li>Achievement 1</li>
  <li>Achievement 2</li>
  <li>Achievement 3</li>
</ul>

<h3>Business Technology Early College High School (September 2016 - June 2020)</h3>